In [6]:
import numpy as np
import pandas as pd 
from sklearn import datasets
from sklearn.model_selection import train_test_split
import matplotlib.pyplot  as plt 
from matplotlib.colors import ListedColormap
cmap = ListedColormap(['#FF0000' ,'#00FF00','#0000FF'])

In [11]:
iris = datasets.load_iris()
df = pd.DataFrame(iris.data)
df_target = pd.DataFrame(iris.target)
df_features = pd.DataFrame(iris.target_names)

In [14]:
df.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [15]:
df_target.head()

   0
0  0
1  0
2  0
3  0
4  0

In [16]:
df_features

            0
0      setosa
1  versicolor
2   virginica

In [17]:
X,y = iris.data , iris.target

In [18]:
X_train , X_test ,y_trian , y_test = train_test_split(X,y ,test_size=.3 , random_state=12 )

In [19]:
from knn import KNN


model = KNN()

In [20]:
model.fit(X_train , y_trian)

In [21]:
y_predict = model.predict(X_test)