In [34]:
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn import datasets
import matplotlib.pyplot as plt 
import pandas as pd

In [35]:
data = datasets.load_breast_cancer()
df_data = pd.DataFrame(data.data)
df_target = pd.DataFrame(data.target)

In [36]:
df_data.head()

      0      1       2       3   ...      26      27      28       29
0  17.99  10.38  122.80  1001.0  ...  0.7119  0.2654  0.4601  0.11890
1  20.57  17.77  132.90  1326.0  ...  0.2416  0.1860  0.2750  0.08902
2  19.69  21.25  130.00  1203.0  ...  0.4504  0.2430  0.3613  0.08758
3  11.42  20.38   77.58   386.1  ...  0.6869  0.2575  0.6638  0.17300
4  20.29  14.34  135.10  1297.0  ...  0.4000  0.1625  0.2364  0.07678

[5 rows x 30 columns]

In [37]:
df_target.head()

   0
0  0
1  0
2  0
3  0
4  0

In [48]:
data.target_names

array(['malignant', 'benign'], dtype='<U9')

In [38]:
X , y = data.data , data.target
X_train , X_teat , y_train , y_test = train_test_split(X,y , test_size=.2 ,random_state=42)

In [39]:
from LogisticRegression import LogisticRegression

In [40]:
model = LogisticRegression(learning_rate= 0.01)

In [41]:
model.fit(X_train , y_train)

c:\D\Learning\scratch_machinelearning\LogisticRegression.py:4: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-x))

In [42]:
y_pred = model.predict(X_teat)

In [44]:
def accuracy(y_pred , y_test):
    acc = np.sum(y_pred == y_test )/len(y_test)
    return acc

In [47]:
acc = accuracy(y_pred , y_test)
print('the LogisticRegression accuracy :  ' , acc)

the LogisticRegression accuracy :   0.9473684210526315